<nav
  class="navbar w-100 navbar-expand-lg navbar-transparent fixed-top"
  style="background-color: white"
  [ngClass]="{
    borderShadowOff: valueHeight <= 120,
    'borderShadowOn ': valueHeight >= 120
  }"
>
  <div class="logo container" style="margin-left: 30px">
    <!-- <a href="https://infraon.io/"> -->
    <img
      src="assets/images/logo/element-logo-coloured@3x.png"
      alt=""
      style="width: 150px; height: 48px"
    />
    <!-- </a> -->
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
  </button>

  <div
    class="collapse navbar-collapse"
    style="margin-right: 80px"
    id="navbarSupportedContent"
  >
    <div class="header-part-right">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a
            class="scroll-to nav-link m-2"
            href="https://infraon.io/"
            target="_self"
            >Home
          </a>
        </li>

        <li class="nav-item1">
          <a href="#" class="scroll-to nav-link m-2 m-2"
            >Products &nbsp;<i
              class="fa fa-angle-down"
              style="margin-left: 12px"
            ></i
          ></a>
          <!-- First  Drop Down -->
          <ul class="dropDownitem">
            <li style="margin-bottom: -10px">
              <a
                href="best-remote-desktop-software-secura.html"
                target="_self"
                class=""
                >Infraon SecuRA</a
              >
            </li>
            <hr style="color: rgb(194, 191, 191)" />
            <li style="margin-top: -11px; margin-bottom: -7px">
              <a href="asset-management-software.html" target="_self"
                >Infraon Assets</a
              >
            </li>
            <hr style="color: rgb(194, 191, 191)" />
            <li style="margin-top: -11px">
              <a href="it-service-management.html" target="_self"
                >Infraon Desk</a
              >
            </li>
          </ul>
        </li>
        <!-- drop down menu start -->
        <li class="nav-item2">
          <a href="#" class="scroll-to nav-link m-2 m-2"
            >Resources &nbsp;<i
              class="fa fa-angle-down"
              aria-hidden="true"
              style="margin-left: 23px"
            ></i
          ></a>
          <!-- First  Drop Down -->
          <ul class="dropDownitem">
            <li style="margin-bottom: -10px">
              <a Success href="SuccessStories.html" target="_self"
                >Success Stories</a
              >
            </li>
            <hr style="color: rgb(194, 191, 191)" />
            <li style="margin-top: -10px">
              <a href="UsecaseVideos.html" target="_self">Videos </a>
            </li>
          </ul>
        </li>
        <li class="nav-item3">
          <a href="#" class="scroll-to nav-link m-2 m-2"
            >Support &nbsp;<i
              class="fa fa-angle-down"
              aria-hidden="true"
              style="margin-left: 6px"
            ></i
          ></a>
          <!-- First  Drop Down -->
          <ul class="dropDownitem">
            <li class="nav-item">
              <a href="help&amp;support.html" target="_self"
                >Help and Support</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item pt-2">
          <a class="nav-link" href="https://www.everestims.com/" target="_blank"
            >Company</a
          >
        </li>
        <li class="nav-item">
          <button class="btn btn-login" style="margin-left: 20px">Login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="background">
  <div class="container">
    <div style="margin-bottom: 100px">
      <div class="row">
        <div
          class="col-md-6 m-auto"
          style="justify-content: center; align-items: center"
        >
          <h1>Powerful products to accelerate efficiency and productivity</h1>
          <p style="font-size: 18px; line-height: 30px">
            Both tools are “On-Premise” offerings, ensuring that you can be
            confident to local ownership of your data which can be run on
            machines in your facility, with no third-party access.
          </p>
        </div>
        <div class="col-md-6" style="margin-top: 100px">
          <img
            width="100%px;"
            src="assets/images/illustration-header_2021-08-08/illustration-header@3x.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="row">
      <button class="Products">Products</button>
      <div class="col-md-12 mb-3">
        <div class="col-md-8">
          <h1 class="mb-3">
            The Infraon Suite – hike efficiency and business success
          </h1>
          <h5 class="subText mb-5">
            Products that bolster your IT Infra, Networks and Service Delivery
          </h5>
        </div>
      </div>
      <div class="row mb-5">
        <div
          class="col-md-6 col-sm-12 mb-lg-0 mb-md-0 mb-4"
          [ngClass]="{
            'move-left': valueHeight <= 380,
            'move-normal ': valueHeight >= 380
          }"
        >
          <div class="card text-left">
            <div class="row px-5 pt-3 pb-1">
              <div class="col-md-12 col-lg-12">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                    <img
                      width="100%"
                      src="assets/images/secura/group-5@3x.png"
                      alt=""
                    />
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                    <h1 class="infraonSecura">infraonSecura</h1>
                    <span class="Powered-by-EverestIM"
                      >Powered by EverestIMS</span
                    >

                    <h3 class="Standard">[Standard]</h3>

                    <p class="A-Remote-Access-Aut">
                      A Remote Access , Authorization & Security System
                    </p>
                  </div>
                </div>
              </div>
              <hr />
              <div class="col-md-12 col-lg-12">
                <div class="row">
                  <div class="col-md-5">
                    <p class="mb-0">
                      <span style="color: rgb(37, 37, 204)">$</span>
                      <span
                        class="num"
                        style="font-size: 30px; color: rgb(37, 37, 204)"
                        >89</span
                      ><span style="color: rgb(37, 37, 204)">.00/</span
                      ><span>mo</span>
                    </p>
                  </div>
                  <div class="col-lg-7 mb-2 mb-2">
                    <button class="link-log">Get Started</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of col -->
        <div
          class="col-md-6 col-sm-12 mb-lg-0 mb-md-0 mb-4"
          [ngClass]="{
            'move-right': valueHeight <= 380,
            'move-normal-right': valueHeight >= 380
          }"
        >
          <div class="card text-left">
            <div class="row px-5 pt-3 pb-1">
              <div class="col-md-12 col-lg-12">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                    <img
                      src="assets/images/assets/group-5@3x.png"
                      width="100%"
                      alt=""
                    />
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                    <img
                      width="200px"
                      height="40px"
                      src="assets/images/logo-just-text-assets_2021-08-08/logo-just-text-assets@3x.png"
                      alt=""
                    />

                    <h3 class="Standard">[Standard]</h3>

                    <p class="A-Remote-Access-Aut">
                      SecuRA Standard plus an array of advance features
                    </p>
                  </div>
                </div>
              </div>
              <hr />
              <div class="col-md-12 col-lg-12">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 text-left">
                    <p class="mb-0">
                      <span style="color: rgb(37, 37, 204)">$</span>
                      <span style="font-size: 30px; color: rgb(37, 37, 204)"
                        >99</span
                      ><span style="color: rgb(37, 37, 204)">.00/</span
                      ><span class="mo">mo</span>
                    </p>
                  </div>
                  <div class="col-lg-7 mb-2 mb-2">
                    <button class="link-log">Get Started</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of col -->
      </div>

      <div class="row mt-5 mb-5 container p-5">
        <h1 class="enterises">
          Over 150 Enterprises, Banks, FIs, Large Telcos and other customers
          across the world trust us with their most crucial IT needs and
          outcomes
        </h1>
        <div
          class="row"
          [ngClass]="{
            'move-down': valueHeight <= 1000,
            'move-normal-down ': valueHeight >= 1000
          }"
        >
          <div
            class="service-wrap col-xs-12 col-sm-6 col-md-6 col-lg-3 col-sm-12 aos-init aos-animate"
          >
            <div class="card base pt-0 pb-0 mb-3 mt-5 Illustrator-03">
              <div class="card-body px-0 mt-5">
                <img
                  width="50px"
                  src="assets/images/client/icons@3x.png"
                  class="img-responsive"
                  alt=""
                />
                <h1 class="rating">500k+</h1>
                <h5 class="node">Node</h5>
              </div>
            </div>
          </div>
          <div
            class="service-wrap col-xs-12 col-sm-6 col-md-6 col-lg-3 col-sm-12 aos-init aos-animate"
          >
            <div class="card node base pt-0 pb-0 mb-3 mt-5 Illustrator-03">
              <div class="card-body px-0 mt-5">
                <img
                  width="50px"
                  src="assets/images/remote/icons@3x.png"
                  class="img-responsive"
                  alt=""
                />
                <h1 class="rating">30k+</h1>
                <h5 class="node">Remote Managemnet</h5>
              </div>
            </div>
          </div>
          <div
            class="service-wrap col-xs-12 col-sm-6 col-md-6 col-lg-3 col-sm-12 aos-init aos-animate"
          >
            <div class="card base pt-0 pb-0 mb-3 mt-5 Illustrator-03">
              <div class="card-body px-0 mt-5">
                <img
                  width="50px"
                  src="assets/images/user/icons@3x.png"
                  class="img-responsive"
                  alt=""
                />
                <h1 class="rating">10k+</h1>
                <h5 class="node">Users</h5>
              </div>
            </div>
          </div>
          <div
            class="service-wrap col-xs-12 col-sm-6 col-md-6 col-lg-3 col-sm-12 aos-init aos-animate"
          >
            <div class="card base pt-0 pb-0 mb-3 mt-5 Illustrator-03">
              <div class="card-body px-0 mt-5">
                <img
                  width="50px"
                  src="assets/images/node/icons@3x.png"
                  class="img-responsive"
                  alt=""
                />
                <h1 class="rating">150k+</h1>
                <h5 class="node">Clients</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <h1 align="center" class="mb-5">Our Loyal Customers</h1>
        <div class="row equal-space">
          <div class="col-md-3 mb-4">
            <div class="intro1ProductImage text-center">
              <img
                width="65%"
                src="assets/images/jio/jio-digital-life-logo-vector@3x.png"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-3 mt-4">
            <div class="intro1ProductImage text-center">
              <img
                src="assets/images/powergrid/powergrid-seeklogo-com@3x.png"
                width="80%"
                alt=""
              />
            </div>
          </div>

          <div class="col-md-3 mt-1">
            <div class="intro1ProductImage text-center">
              <img
                src="assets/images/kisspng-tata-teleservices-logo-organization-tata-group-bra-5-b-74-c-92-dc-13664-6994874115343803337914_2021-08-08/kisspng-tata-teleservices-logo-organization-tata-group-bra-5-b-74-c-92-dc-13664-6994874115343803337914@3x.png"
                width="80%"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-3 mt-0">
            <div class="intro1ProductImage text-center">
              <img
                src="assets/images/airtel/group-18@3x.png"
                width="70%"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="row equal-space mt-5">
          <div class="col-md-3 mb-4">
            <div class="intro1ProductImage text-center">
              <img
                width="40%"
                height="10%"
                src="assets/images/bsnl/group-18@3x.png"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="intro1ProductImage text-center">
              <img
                src="assets/images/navy/indian-navy-logo@3x.png"
                width="28%"
                height="20%"
                alt=""
              />
            </div>
          </div>

          <div class="col-md-3 mt-4">
            <div class="intro1ProductImage text-center">
              <img
                src="assets/images/celcom/celcom-logo-wine-01@3x.png"
                width="60%"
                alt=""
              />
            </div>
          </div>

          <div class="col-md-3 mt-5">
            <div class="intro1ProductImage text-center">
              <img src="assets/images/act/bitmap@3x.png" width="50%" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div
          class="col-md-12"
          [ngClass]="{
            'move-down': valueHeight <= 1900,
            'move-normal-down-footer ': valueHeight >= 1900
          }"
        >
          <img width="100%" src="assets/images/footer/footer@3x.png" alt="" />
        </div>
      </div>
      <div style="height: 100px"></div>
    </div>
  </div>
</div>
